html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
ul {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding-right: 1em;
}

.header {
    background-color: #1f2937;
    display: flex;

}

.header-logo-text {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    flex: 2;
    padding-left: 1em;

}

.hero-container {
    background-color: #1f2937;
    padding-left: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;



}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    display: flex;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    height: fit-content;

}

.header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

img {
    min-width: 100px;
    max-height: 150px;
    display: flex;
    

}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    
}

.cta-container {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    margin: 10px 300px 10px 300px;
    padding: 1em;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}


.footer-container {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    margin-top: auto;

}